* {
  padding: 0;
  margin: 0; 
  overflow-x: hidden;
}
 
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #d3bbbb;
  text-align: center;
}

.container {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container2 {
  background-color: #fff;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 40px;
  color: #FF5733;
}

.player-info {
  margin: 20px 0;
}

.players {
  font-size: 24px;
  color: #efe161;
}

#chess1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #7bd4d5;
  border-radius: 10px;
}

.result-box {
  background-color: #7bd4d5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.gameresult {
  font-size: 20px;
}

.neuralredball {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.alev {  
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-image: url("alev.gif");
}

.alev:hover {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-image: url("nigger.png");

}

.bosluk {
  height: 50px;
}

#lockedoutofbasement {
  margin: 0;
  padding: 0;
  border: 20px #FFD61D double;
  width: 90%;
}

.sosyalkredi {  
  margin-top: 40px;
  width: 100%;
  background-image: url("noralbegendi.jpg");
 }
 
 .sosyalkredi iframe {  
  margin-top: calc(23.125vw - 40px);
 }

 h2{
  margin: 0;
  margin-top: 10px;
  display: inline;
  color: black;
  text-shadow: white 5px 5px 5px;
 }

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid grey;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url("crazy.png");
  background-size: cover;
}

audio{
  margin-top: 10px;
}

form { 
    margin: auto;
    color: #FF8662;
    font-size: 230%;
    text-shadow: black 3px 3px 3px, black 1px 1px 1px;
    border: 6px solid black;
    font-weight: 600;
    width: 56.25vw;
    height: 100vh; 
    background-image: url("para.jpg");
    background-size: cover;
 }
 
 form input { 
    height: 50px;
    width: 300px;
    background-color: #FEFFD0;
    font-size: 30px;
    text-align: center;
 }
 
 h3 { 
    margin-top: 7vw;
 }
 
 #kredicaldim  {
    margin-top: 5vw;
    color: white;
    background-color: black;
    height: 70px;
    width: 400px;
 }

 #kredicaldim:hover{
  cursor: pointer;
  background-color: rgb(49, 48, 48);
 }

 #atbomb:hover{
  cursor: pointer;
 }