* {
  padding: 0;
  margin: 0; 
  overflow-x: hidden;
}
 
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #DDCEB3;
  text-align: center;
}

.container {
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container2 {
  background-color: #fff;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.containerreadme {
  background-color: #000000;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 60px #F6F6F6;
}

#containerreadmetext { 
  color: white;
  font-size: 25px;
  text-decoration: none;
}

h1 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 40px;
  color: #E13422;
}

.player-info {
  margin: 20px 0;
}

.players {
  font-size: 24px;
  color: #efe161;
  font-weight: bold;
}

#chess1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #7bd4d5;
  border-radius: 10px;
}

.result-box {
  background-color: #7bd4d5;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.gameresult {
  font-size: 20px;
  font-style: italic;
  font-family: "Times New Roman"
}

.neuralredball {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.alev {  
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-image: url("alev.gif");
}

.alev:hover {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-image: url("alpha-chad.gif");
}

.bosluk {
  height: 50px;
}

#lockedoutofbasement {
  margin: 0;
  padding: 0;
  border: 10px black solid;
  border-radius: 12px;
  width: 90%;
  box-shadow: 0px 0px 80px #F3D946;
}

.sosyalkredi {  
  margin-top: 40px;
  width: 100%;
  background-image: url("noralbegendi.jpg");
 }
 
 .sosyalkredi iframe {  
  margin-top: calc(23.125vw - 40px);
 }

 h2{
  margin: 0;
  margin-top: 10px;
  display: inline;
  color: black;
  text-shadow: white 5px 5px 5px;
 }

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #B2B2A4;
  gap: 20px;
  border-radius: 15px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url("crazy.png");
  background-size: cover;
}

audio{
  margin-top: 10px;
}

form { 
    margin: auto;
    color: #FF8662;
    font-size: 230%;
    text-shadow: black 3px 3px 3px, black 1px 1px 1px;
    border: 6px solid black;
    font-weight: 600;
    width: 56.25vw;
    height: 100vh; 
    background-image: url("para.jpg");
    background-size: cover;
 }
 
 form input { 
    height: 50px;
    width: 300px;
    background-color: #EBE8C4;
    font-size: 30px;
    text-align: center;
 }
 
 #kredicaldim  {
    margin-top: 5vw;
    color: white;
    background-color: black;
    height: 70px;
    width: 400px;
	border-radius: 4px;
 }

 #kredicaldim:hover{
  cursor: pointer;
  background-color: rgb(49, 48, 48);
 }

 #atbomb:hover{
  cursor: pointer;
 }

 #popup{
  width: 100%;
  height: 100%;
  background-color: transparent;
  display:flex;
  z-index: 1000;
  position:fixed;
 }

 #popup-text{
  display: flex;
  width: 40vw;
  min-width: 400px;
  height: 50vh;
  background-image: url(korkunckedi.png);
  margin: auto;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 0;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0px 0px 200px #3229EE,0px 0px 100px #FF00F0;
  background-size: cover;
  color: white;
  text-shadow: #18EC1E 1px 1px 5px;
  font-size: 17.727px;
}

 #close-popup{
  width: 30%;
  height: 15%;
  border: 1px outset;
  border-radius: 7px;
  font-weight: 600;
  background-color: #FFEC00;
  color: black;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
